.Waveform {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.waveform-container {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 71.5%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.waveform-bg {
  clip-path: url("#waveform-mask");
  fill: lightgray;
}

.waveform-progress {
  clip-path: url("#waveform-mask");
  fill: #256EFF;
}

.waveform-line {
  clip-path: url("#line-no-mask");
  fill: black;
  border-right: solid black 3px;
}

#input {
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio-element {
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2rem;
  width: 82%;
  max-width: 100%;
}