.Waveform {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  margin-top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.fixed-controls-top {
  text-align: center;
  padding: .25rem 2rem .5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2D2D2D;
  z-index: 1;
  height: 3.5rem;
}


.lbl-file-picker {
  white-space: nowrap;
  overflow: hidden;
  max-width: 18rem;
  padding: .25rem .5rem;
  background-color: #256EFF;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer;
  color:white;
  border-radius: .5rem;
  margin: .5rem 0;
}

.lbl-file-picker + [type='file']{
  display: none;
}

.timeline-container {
  bottom: 4.9rem;
  position: absolute;
  /*max-height: 10rem*/;
  height: 5.25rem;
  background-color: rgba(255,255,255,0);
  width: 96%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: .5rem;
  margin: .5rem 0;
}

.timeline-row {
  height: 1.75rem;
}

.timeline {
  position: absolute;
  margin-top: .75rem;
}

.timeline-note {
  background-color: rgba(255,255,255,.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
  left: 31vw;
  padding: 0rem .4rem;
  color: white;
  cursor: pointer;
}

/*note colors*/

.oxford-blue {
  background-color: rgba(4,40,74,.9);
}

.moonstone-blue {
  background-color: rgba(116,175,196,.9);
}

.fuzz-wuzzy {
  background-color: rgba(200,92,104,.9);
}

.vivid-tangerine {
  background-color: rgba(245,159,134,.9);
}

.deep-ruby {
  background-color: rgba(115,62,90,.9);
}

.waveform-container {
  /*margin-left: 2.5rem;*/
  max-height: 10rem;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
  margin: .5rem 0;
}

.waveform-bg {
  clip-path: url("#waveform-mask");
  fill: gray;
}

.waveform-progress {
  clip-path: url("#waveform-mask");
  fill: #256EFF;
}

.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2D2D2D;
}

.audio-element {
  /*display: none;*/
  border-radius: 1rem;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  width: 100%;
  margin-top: .7rem;
  margin-bottom: .4rem;
}

.notes-container {
  text-align: left;
  margin: .5rem 0;
  padding: 0;
}

.notes-container ul {
  padding: 0;
  list-style-type: none;
}

.list-note {
  font-size: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
  padding: .1rem .4rem;
  color: white;
  cursor: pointer;
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.current-time {
  font-size: 3vh;
  background-color: rgba(4,40,74,.7);
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer;
  color:white;
  border-radius: .5rem;
  width: 8vh;
}

input {
  margin: 0 1rem;
  font-size: 3vh;
  border-radius: .5rem;
  width: 16vh;
  padding: 0 .5rem;
}

.add-note {
  background-color: #256EFF;
  border: none;
  border-radius: .5rem;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  width: 4vh;
}

svg {
  background-color: rgba(255,255,255,.9);
}

@media (min-width: 1920px) {
  .notes-container {
    padding: 0 15%;
  }
}

@media (max-width: 1024px) {
  .hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}