.Waveform {
  font-family: sans-serif;
  text-align: center;
  margin: .5rem auto;
  width: 80%;
}

.waveform-container {
  max-height: 5rem;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
  margin: .5rem 0;
}

.waveform-bg {
  clip-path: url("#waveform-mask");
  fill: gray;
}

.waveform-progress {
  clip-path: url("#waveform-mask");
  fill: #256EFF;
}

.Waveform svg {
  background-color: rgba(255,255,255,.9);
}