.Pinlist {
  position: absolute;
  bottom: 3rem;
  font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	/*color: #2f2f2f;*/
	left: 0;
	transform: translateX(-.9vw);
	z-index: 6;
	/*filter:drop-shadow(2px 2px 5px black);*/
}

.fa-slash {
	transform: rotate(52deg);
}

/*note colors*/
.oxford-blue__pin {
  color: rgb(4,40,74);
}

.moonstone-blue__pin {
  color: rgb(116,175,196);
}

.fuzz-wuzzy__pin {
  color: rgb(200,92,104);
}

.vivid-tangerine__pin {
  color: rgb(245,159,134);
}

.deep-ruby__pin {
  color: rgb(115,62,90);
}

.dark-theme__pin {
  color: rgb(45,45,45);
}

.timeline-title {
	margin-left: 1.1rem;
	text-orientation: upright;
	color: white;
	font-size: 14px;
}

@media (max-width: 1600px) {
	.Pinlist {
			transform: translateX(-1.2vw);
	}
}

@media (max-width: 992px) {
	.Pinlist {
			transform: translateX(-2vw);
	}
}

@media (max-width: 768px) {
	.Pinlist {
			transform: translateX(-2.5vw);
	}
}

@media (max-width: 576px) {
	.Pinlist {
			transform: translateX(-5vw);
	}
}