.Pinlist {
  position: fixed;
  bottom: 6rem;
  font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	/*color: #2f2f2f;*/
	left: 0;
	transform: translateX(-30%);
	filter:drop-shadow(2px 2px 5px black)
}

/*note colors*/
.oxford-blue__pin {
  color: rgb(4,40,74);
}

.moonstone-blue__pin {
  color: rgb(116,175,196);
}

.fuzz-wuzzy__pin {
  color: rgb(200,92,104);
}

.vivid-tangerine__pin {
  color: rgb(245,159,134);
}

.deep-ruby__pin {
  color: rgb(115,62,90);
}

.dark-theme__pin {
  color: rgb(45,45,45);
}

.timeline-title {
	color: white;
	font-size: 14px;
}