.upload-btn {
  padding: .25rem .5rem;
  background-color: #256EFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer;
  color:white;
  border: none;
  border-radius: .5rem;
}

.filepond--root {
  margin-bottom: .25rem;
}

/* bordered drop area */
.filepond--panel-root {
  background-color: rgba(45,45,45,45);
  border: 2px solid #2c3340;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #fff;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #fff;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  color: white;
}

svg {
	background-color: transparent;
}