body {
	background-image: url('./vector_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
}
/*color scheme*/

/*backgrounds*/

.blue-crayola {
	background-color: #256EFF;
}

.lavender-pale {
	background-color: #D4DCFF;
}

.blue-slate-medium {
	background-color: #7D83FF;
}

.turquoise-bright {
	background-color: #1AFFD5;
}

.scarlet-dark {
	background-color: #590925;
}