body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('./vector_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
}

.form-container {
  position: relative;
}

.spacer {
	height: 10rem;
}