body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('./vector_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
}

.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2D2D2D;
}

.audio-element {
  border-radius: 1rem;
  width: 100%;
  margin-top: .7rem;
  margin-bottom: .4rem;
}