.Timestamps {
	display: flex;
	padding: 0 20px;
	position: absolute;
	bottom: 10%;
	left: 0;
	pointer-events: none;
	z-index: 2;
	/*width: 100%;*/
}

.Timestamps .Time {
	font-size: 20px;
	padding: 0 2px;
}

.Time--division {
	color: rgba(255,255,255,.7);
}